.navbar {
  margin-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

.nav-link {
  /* text-decoration: underline; */

}

/* .is-primary {
  background-color: #F7CB00 !important;
} */

.section {
  padding: 1em;
}

.logo {
  padding-left: 14px;
}

/* .control {
  margin-bottom: 22px;
} */

.field {
  min-height: 44px;
}

.recipe-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* .notification {
  margin-bottom: 24px;
} */

.content h3 {
  font-weight: 300;
}

.full-width {
  width: 100%;
}

.expenses-list {
  /* padding-left: 24px; */
  /* padding: 88px; */
  padding-right: 16px;
}

.card {
  margin-bottom: 18px;
  padding: 8px;
}

.has-text-danger:hover {
  cursor: pointer;
}

.form-area {
  padding-right: 80px;
}

.filter {
  margin-bottom: 14px;
  margin-top: -8px;
}

.filter-tag {
  margin-right: 8px;
  margin-left: 8px;
}

.filter-tag:hover {
  cursor: pointer;
}

.is-deleting {
  opacity: 0.3;
}

table {
  width: 100%;
}

.change-month {
  cursor: pointer;
}

.expense-listing {
  margin-bottom: 8px;
}

.home-hero {
  width: 100%;
  text-align: center;
  height: 100px;


}

.card {
  border: 2px solid hsl(48, 100%, 67%);
}

.center {
  text-align: center;
}
